.first-div {
    background-color: #c19d67;
    height: 125px;
    width: 700px;
    padding-left:20px;
    margin: 250px 0px 0px 275px;
}
.name {
    background-color: #c19d67;
    height: 50px;
    width: 400px;
    margin-left: 700px;
}
